# Only build specific dependencies from source
# This prevents hoisting of these dependencies
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=workerd

# Improve install performance
prefer-frozen-lockfile=true
node-linker=hoisted