---
import ValueCard from "./ValueCard.astro";

interface Props {
  title: string;
  missionStatement: string;
  coreValues?: {
    title: string;
    description: string;
  }[];
  approachValues?: {
    title: string;
    description: string;
  }[];
}

const {
  title,
  missionStatement,
  coreValues = [],
  approachValues = [],
} = Astro.props;
---

<div class="mx-auto max-w-4xl">
  <h2 class="text-base-content mb-8 text-center text-3xl font-bold">{title}</h2>

  <div class="card bg-base-100 mb-8 shadow-xl">
    <div class="card-body">
      <h3 class="card-title text-primary-content text-2xl font-semibold">
        Mission
      </h3>
      <p class="text-gray-700">
        {missionStatement}
      </p>
    </div>
  </div>

  <div class="grid gap-8 md:grid-cols-2">
    {
      coreValues.length > 0 && (
        <ValueCard title="Core Values" values={coreValues} />
      )
    }

    {
      approachValues.length > 0 && (
        <ValueCard title="My Approach" values={approachValues} />
      )
    }

    <slot />
  </div>
</div>
